/********** Template CSS **********/
:root {
    --primary: orange;
    --secondary: orange;
    --light: #1D1D27;
    --dark: #1D1D27;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: var(--light) !important;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    /* padding: 20px 0; */
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--secondary) !important;
    cursor: pointer;
}


.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

/*** Main Header with H1 Heading ***/

.main-header h1 {
    font-size: 3.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*** Trending Service ,Beauty, Self Care ***/
.service-item {
    position: relative;
    height: 350px;
    padding: 30px 25px;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item .service-icon {
    margin: 0 auto 20px auto;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-top-border {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.care-section{
    background-color:rgb(252, 231, 235);padding: 155px;
}

.companies img {
    width: 150px;
    height: 40px;
}
.companies-align {
    position: relative;top: 60px; width: 59%; margin: 0 auto;
}
/*** Answer and Questions ***/
.faq .faq-list ul {
    padding: 0;
    list-style: none;
}

.faq .faq-list li {
    margin-bottom: 5px;
    padding: 20px;
    background: rgb(237, 237, 237);
    border-radius: 4px;
    position: relative;
}

.faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 20px;
    color: #47b2e4;
}

/*** Testimonial ***/
.testimonial-item {
    background: #FFFFFF;
    box-shadow: 0 0 45px rgb(0 0 0 / 8%);
}
.testimonial-img {
    position: relative;right: 100px;top: 20px;
}

/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}